* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
    overflow-x: hidden;
}

/*nav*/

nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #000;
}

.logo {
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 1px;
}

.logo span {
    color: #339999;
}

.menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 30px;
    transition: .5s;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu a:hover {
    color: #339999;
    font-weight: 500;
}

.bar {
    display: none;
    cursor: pointer;
}

.bar div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all .5s ease;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:1024px) {
    .menu {
        width: 60%;
    }
}

@media screen and (max-width:768px) {


    .menu {
        position: absolute;
        right: -100%;
        height: 80vh;
        top: 10vh;
        background-color: #000;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        display: none;
    }

    .bar {
        display: block;
    }
}

.nav-active {
    transform: translateX(-100%);
}

.bar-active .bar-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bar-active .bar-2 {
    opacity: 0;
}

.bar-active .bar-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


.banner {
    height: 90vh;

}

.bg-img {
    background-image: url(../img/Alaskari\ Code.png);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.content h1 {
    color: #fff;
    font-size: 50px;
}

h1 span {
    color: #339999;

}

.content p {
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
    line-height: 2;
}


.socials {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.socials i {
    color: #fff;
    font-size: 18px;
    transition: all .2s ease;
}

i:hover {

    scale: 1.2;

    color: #339999;
    font-weight: 500;
}

.socials {
    margin-top: 25px;
    padding: 2px;
}

.wrapper {
    margin: auto;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        width: 75%;
    }

    .content {
        text-align: center;
    }

    .content h1 {
        font-size: 60px;
    }

    .content p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {




    .content h1 {
        font-size: 35px;
    }

    .content p {
        width: 100%;
    }
}